# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store
*.py[cod]
*$py.class
*.conf

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
sdist/
*.egg-info/
*.egg
*.eggs
